@model ICV.WebUIMVC.Models.AlunoModel

@{
    ViewData["Title"] = "Cadastrar Aluno";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<section class="row justify-content-center">

    <div class="col-sm-8 text-center mt-5">

        <h1 class="h3">Coruja Veículos - Cadastrar Aluno</h1>

        <p>Para voltar para lista de aluno <a asp-action="Index">Clique aqui</a>.</p>

    </div>

    <article class="col-sm-8">

        <form asp-action="Cadastrar">

            <div class="row justify-content-center">

                <div class="col-2 mt-2">
                    <input asp-for="Nome" class="form-control" placeholder="Insira o nome do aluno..." required />
                </div>

                <div class="col-2 mt-2">
                    <input asp-for="CpfAluno" class="form-control" placeholder="xxx.xxx.xxx-xx" required />
                </div>
                <div class="col-2 mt-2">
                    <input asp-for="DataNascimentoAluno" class="form-control" placeholder="xx/xx/xxxx" required />
                </div>

                <div class="col-2 mt-2">
                    <input asp-for="Email" class="form-control" placeholder="example@gmail.com" required />
                </div>

                <div class="col-2 mt-2">
                    <input asp-for="Telefone" class="form-control" placeholder="(xx)xxxxx-xxxx" required />
                </div>

                <div class="col-2 mt-2">
                    <select asp-for="Status" class="form-select">
                        <option value="1" selected>Ativo</option>
                        <option value="0">Inativo</option>
                    </select>
                </div>

                <div class="col-12 mt-2">

                    <select asp-for="FKIdTurma"
                            asp-items="@(new SelectList(Model.Turmas, nameof(AlunoModel.FKIdTurma), nameof(AlunoModel.NomeTurma)))" class="form-select" required>
                    </select>

                </div>

                <input asp-action="Cadastrar" type="submit" value="Cadastrar" class="btn btn-primary btn-sm btn-block w-100 mt-2" />

            </div>
        </form>
    </article>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


/*Select * from tblAluno Inner Join TblTurma on TblAluno.FKIdTurma = TblTurma.IdTurma


SELECT * FROM TblTurma INNER JOIN TblCurso ON TblTurma.FkIdCurso = TblCurso.IdCurso

--Select IdTurma, IdAluno, NomeTurma, NomeAluno from TblAluno Inner join TblTurma on TblAluno.IdAluno = TblTurma.IdTurma

Select IdTurma ,NomeTurma from TblTurma