@model ICV.WebUIMVC.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}



<body style="background-color: lightgray">

    <main style="margin-top: 90px">
        <center>
            <div class="col-sm-4">
                <div class="card shadow" style="border-radius: 20px;">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="~/img/Logocoruja2.png" class="img-fluid rounded" height="50%" width="50%">

                        </div>
                        <form asp-action="Login">
                            <div class="form-group">
                                <br />
                                <div class="text-left">
                                    <label for="InputEmail" class="form-label"><b>Email</b></label>
                                </div>
                                <input asp-for="Email" type="email" class="form-control d-sm-inline-flex p-2 bd-highlight rounded-pill" id="InputEmail" placeholder="" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="text-left">
                                    <label for="InputPassword" class="form-label mt-3"><b>Senha</b></label>
                                </div>
                                <input asp-for="Senha" type="password" class="form-control d-sm-inline-flex p-2 bd-highlight rounded-pill" id="InputPassword" placeholder="" required />
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="text-align:center; padding-top: 10px">
                                <br/>
                                <input id="btnLogin" type="submit" value="Acessar" class="btn btn-primary btn-block rounded-pill" data-myValue="@ViewBag.retorno" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            <!--
    <div class="container-fluid">
        <div class="p-5">
            <div class="card p-5 shadow" style="margin-top:55px">
                <div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4 text-center retira-responsivo">
                                    <div>
                                        <div>
                                            <img src="~/img/Logocoruja2.png" class="img-fluid rounded" style="margin-top: 5px">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4" style="margin-top:35px;">
                                    <div>
                                        <div id="titulo" class="text-start" style="margin-top: 15px">

                                            <h3><b>Faça seu Login</b></h3>
                                        </div>
                                        <hr />
                                        <div class="p-2">
                                            <form asp-action="Login" class="align-center">
                                                <div class="form-group">
                                                    <label for="InputEmail" class="form-label">Email</label>
                                                    <input asp-for="Email" type="email"  class="form-control d-sm-inline-flex p-2 bd-highlight rounded-pill" id="InputEmail" placeholder="" required>
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label for="InputPassword" class="form-label">Senha</label>
                                                    <input asp-for="Senha" type="password"  class="form-control d-sm-inline-flex p-2 bd-highlight rounded-pill" id="InputPassword" placeholder="" required />
                                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                                </div>

                                                <div class="form-group" style="text-align:center; padding-top: 10px">
                                                    <input id="btnLogin" type="submit" value="Acessar" style="width: 100%" class="btn btn-primary rounded-pill" data-myValue="@ViewBag.retorno" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
        </center>
    </main>

</body>


<script>
    var retorno = "@ViewBag.retorno";
    console.log(retorno);

    $(document).ready(function () {

            if (retorno == "Erro" ) {
                const Toast = Swal.mixin({

                    toast: true,

                    position: 'top',

                    showConfirmButton: false,

                    timer: 2000,

                    didOpen: (toast) => {

                        toast.addEventListener('mouseenter', Swal.stopTimer)

                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }

                })

                Toast.fire({

                    title: 'E-mail ou Senha Incorretos.',

                    icon: 'warning',

                    iconColor: 'red',

                })
            }

    });
</script>