@model ICV.WebUIMVC.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_.cshtml";
}



<body style="background-color: lightgray">
    <main class="pb-3" style="padding:30px">
        <div class="container-fluid">
            <div class="row justify-content-center p-5">
                <div class="card mb-2 p-4 shadow" style="margin-top:35px">

                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-sm-6 text-center retira-responsivo" style="padding:10px; margin-top: 15px">
                                    <div>
                                        <h1><b>Instituto Coruja Veículos</b></h1>

                                        <div class="p-lg-5">
                                            <img src="~/img/Logocoruja2.png" class="img-fluid rounded" height="65%" width="65%">
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-6" style="margin-top:35px;">
                                    <div class=" p-6">

                                        <div id="titulo" class="text-center" style="margin-top: 15px">

                                            <h3><b>Faça seu Login</b></h3>
                                        </div>
                                        <hr />
                                        <div class="p-2">
                                            <form asp-action="Login" class="align-center">
                                                <div class="form-group">
                                                    <label for="InputEmail" class="form-label fs-4">Email</label>
                                                    <input asp-for="Email" type="email" style="width: 100%" class="form-control d-sm-inline-flex p-2 bd-highlight rounded-pill" id="InputEmail" placeholder="Administrador@senac.sp" required>
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label for="InputPassword" class="form-label fs-4">Senha</label>
                                                    <input asp-for="Senha" type="password" style="width: 100%" class="form-control d-sm-inline-flex p-2 bd-highlight rounded-pill" id="InputPassword" placeholder="**********" required />
                                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                                </div>

                                                <div class="form-group" style="text-align:center; padding-top: 10px">
                                                    <input id="btnLogin" type="submit" value="Acessar" style="width: 100%" class="btn btn-primary rounded-pill" data-myValue="@ViewBag.retorno" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>


<script>
    var retorno = "@ViewBag.retorno";
    console.log(retorno);

    $(document).ready(function () {

            if (retorno == "Erro" ) {
                const Toast = Swal.mixin({

                    toast: true,

                    position: 'top',

                    showConfirmButton: false,

                    timer: 2000,

                    didOpen: (toast) => {

                        toast.addEventListener('mouseenter', Swal.stopTimer)

                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }

                })

                Toast.fire({

                    title: 'E-mail ou Senha Incorretos.',

                    icon: 'warning',

                    iconColor: 'red',

                })
            }

    });
</script>