
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <img src="~/img/Banner-Home.png" width="100%">
</section>

<div style="margin-top:100px" class="container mb-4 col-sm-12">

    <section class="row justify-content-center mt-4 " id="idhome">

        <article class="col-sm-5 ">

            <img src="~/img/Primeira-Home.png" class="img-fluid rounded">

        </article>

        <article class="col-sm-5 mt-lg-4 font">

            <h2><b>Como que trabalhamos neste instituto?</b></h2>
            <p class=" h5 mt-lg-5 text-justify">
                Agora a qualidade e a eficiência das soluções WEG Solar
                podem fazer parte do seu dia a dia e estar presente na sua
                casa, gerando economia de até 95% na fatura, valorizando o
                imóvel e oferecendo o melhor custo-benefício do mercado.
                Conte com a agilidade de uma assistência técnica especializada
                e uma rede de instaladores credenciados, que faz a instalação
                completa com toda segurança.
            </p>
        </article>

        <hr class="mt-5 mb-4 text-success col-sm-10" />

    </section>

    

    <section class="row justify-content-center mt-4"l id="idsobre">

        <article class="col-sm-5 mt-lg-4 font ">

            <h2><b>Como que trabalhamos neste instituto</b></h2>

            <p class=" h5 mt-lg-5 text-justify">
                Agora a qualidade e a eficiência das soluções WEG Solar
                podem fazer parte do seu dia a dia e estar presente na sua
                casa, gerando economia de até 95% na fatura, valorizando o
                imóvel e oferecendo o melhor custo-benefício do mercado.
                Conte com a agilidade de uma assistência técnica especializada
                e uma rede de instaladores credenciados, que faz a instalação
                completa com toda segurança.
            </p>

        </article>

        <article class="col-sm-5 ">

            <img src="~/img/Segundo-home.png" class="img-fluid rounded">

        </article>

        <hr class="col-sm-10 mt-5 mb-4 text-success" />

    </section>

    

    <section class="row justify-content-center mt-4 ">

        <article class="col-sm-5 ">

            <img src="~/img/Terceira-home.png" class="img-fluid rounded">

        </article>

        <article class="col-sm-5 mt-lg-4 font ">

            <h2><b>Como que trabalhamos neste instituto</b></h2>

            <p class="h5 mt-5 text-justify">
                Agora a qualidade e a eficiência das soluções WEG Solar
                podem fazer parte do seu dia a dia e estar presente na sua
                casa, gerando economia de até 95% na fatura, valorizando o
                imóvel e oferecendo o melhor custo-benefício do mercado.
                Conte com a agilidade de uma assistência técnica especializada
                e uma rede de instaladores credenciados, que faz a instalação
                completa com toda segurança.
            </p>

        </article>

        <hr class="mt-5 mb-4 text-success col-sm-10" />

    </section>


    

    <section class="row justify-content-center" id="iddoacao">

        <article class="col-sm-5 font">
            <p class="h2 text-center ">
                <b>Número de doações recebidas pelo o Instituto Coruja Veículos</b>
            </p>

            <p class="mt-4 h4 text-center">
                Atualizado em 17/11/2021
            </p>

        </article>

        <article class="col-sm-5 font">

            <p class="mt-4 h1 text-center">
                <i class="fas fa-caret-up"></i> 1.234 doações
            </p>

        </article>

    </section>

</div>







