
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <img src="~/img/Banner-Home.png" width="100%">
</section>

<div style="margin-top:100px" class="container mb-4 col-sm-12">

    <section class="row justify-content-center mt-4 " id="idhome">

        <article class="col-sm-5 ">

            <img src="~/img/Primeira-Home.png" class="img-fluid rounded">

        </article>

        <article class="col-sm-5 mt-lg-4 font">

            <h2><b>O sucesso é a soma de pequenos esforços</b></h2>
            <p class=" h5 mt-lg-5 text-justify">
                A nossa missão é promover o potencial das crianças por meio do desenvolvimento dos estudantes. Em parceria com educadores, colaboradores e beneficiados, somamos esforços para prepara-los para a vida com objetivos mais concretos, colocando esportes na vida delas.
            </p>
        </article>

        <hr class="mt-5 mb-4 text-success col-sm-10" />

    </section>

    

    <section class="row justify-content-center mt-4"l id="idsobre">

        <article class="col-sm-5 mt-lg-4 font ">

            <h2><b>Como que trabalhamos neste instituto?</b></h2>

            <p class=" h5 mt-lg-5 text-justify">
                O instituto recepcionar e trabalha com o público infantil, que possuem o intuito de aprender, assim o instituto pode levar conhecimento às crianças e flexibilizar conhecimento para toda a comunidade, realizando aulas de esportes e competições com premiações para esse público, além disso, o instituto tem a pratica de realizar doações, para ajudar a sociedade.
            </p>

        </article>

        <article class="col-sm-5 ">

            <img src="~/img/Segundo-home.png" class="img-fluid rounded">

        </article>

        <hr class="col-sm-10 mt-5 mb-4 text-success" />

    </section>

    

    <section class="row justify-content-center mt-4 ">

        <article class="col-sm-5 ">

            <img src="~/img/Terceira-home.png" class="img-fluid rounded">

        </article>

        <article class="col-sm-5 mt-lg-4 font ">

            <h2><b>Como que funciona as doações do instituto ?</b></h2>

            <p class="h5 mt-5 text-justify">
                O Instituto Coruja Veículos possui arrecadações e doações de alimento, roupa e brinquedo, realizando ações solidárias com uma comunidade para realizar a arrecadações e distribuir para famílias necessitadas, possuímos também os colaboradores que ajudam o nosso instituto.
            </p>

        </article>

        <hr class="mt-5 mb-4 text-success col-sm-10" />

    </section>


    

    <section class="row justify-content-center" id="iddoacao">

        <article class="col-sm-5 font">
            <p class="h2 text-center ">
                <b>Número de doações recebidas pelo o Instituto Coruja Veículos</b>
            </p>

            <p class="mt-4 h4 text-center">
                Atualizado em 17/11/2021
            </p>

        </article>

        <article class="col-sm-5 font">

            <p class="mt-4 h1 text-center">
                <i class="fas fa-caret-up"></i> 1.234 doações
            </p>

        </article>

    </section>

</div>







