@model ICV.WebUIMVC.Models.CursoModel

@{
    ViewData["Title"] = "Cadastrar Curso";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<section class="row justify-content-center">

    <div class="col-sm-8 text-center mt-5">

        <h1 class="h3">Coruja Veículos - Cadastrar Curso</h1>

        <p>Para voltar para lista de cursos <a asp-action="Index">Clique aqui</a>.</p>

    </div>

    <article class="col-sm-8">

        <form asp-action="Cadastrar">

            <div class="row justify-content-center">

                <div class="col-8 mt-2">
                    <input asp-for="NomeCurso" class="form-control" placeholder="Insira o nome do curso..." required />
                </div>

                <div class="col-4 mt-2">
                    <select asp-for="StatusCurso" class="form-select" required>
                        <option value="1" selected>Ativo</option>
                        <option value="0">Inativo</option>
                    </select>
                </div>

                <div class="col-12 mt-2">
                    <textarea asp-for="DescricaoCurso" id="floatingTextarea2" class="form-control" rows="4" placeholder="Preencha a descrição do curso" required></textarea>
                </div>

            </div>

            <input asp-action="Cadastrar" type="submit" value="Create" class="btn btn-primary btn-sm btn-block w-100 mt-2" />

        </form>

        

    </article>

</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
